extends layout

block content
  h1= title
  form(method='POST', action='/users/' + id + '?_method=DELETE')
    input(type='text', name='id')
    button(type='submit') Supprimer

  a(href='user') Update user
  br
  a(href='/') Accueil
