extends layout

block content
  h1= title
  form(method='POST', action='/users/' + user + '?_method=PUT')
    input(type='text', name='user')
    button(type='submit') Modifier

  a(href='id') Delete user
  br
  a(href='/') Accueil
